.divCompetenceParent{
    margin-top: 2vh;
    box-shadow: 0px 0px 4px 4px rgba(0,0, 0, 0.5);
    background-image:url("../img/nid.jpg"); 
    border-radius: 20px;
}
.pad{
    padding: 1vw;
}
.divCompetence div div img{
    max-height: 40px;
    margin-right: auto;
}
.imgconseil{
    max-height:140px;
    max-width:197px;
    border-radius: 20px;
    margin-left: 25%
}
.divCompetenceParent h4{
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    border-width: 3px;
    border-bottom-color: green;
    width: 80%;
}
.principalPaypal{
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    box-shadow: 0px 0px 4px 4px rgba(0,0, 0, 0.5);
    background-image:url("../img/nid.jpg");
}
.imgPaypal{
    max-width:300px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.principalPaypal{
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    box-shadow: 0px 0px 4px 4px rgba(0,0, 0, 0.5);
    background-image:url("../img/nid.jpg");
}
.LienUtileDiv{
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    box-shadow: 0px 0px 4px 4px rgba(0,0, 0, 0.5);
    background-image:url("../img/nid.jpg");
}
.panneau{ 
    margin-top: 2vh;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 4px rgba(0,0, 0, 0.5);
    background-image:url("../img/nid.jpg"); 
}
.panneauBis{
    margin-top: 2vh;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 4px rgba(0,0, 0, 0.5);
    background-image:url("../img/nid.jpg"); 
}
.site{
    text-align: center;
    margin-top: 2vh;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 4px rgba(0,0, 0, 0.5);
    background-image:url("../img/nid.jpg"); 
}
.exemple{
    margin-left: auto;
    margin-right: auto;
    max-height:200px;
    max-width: 300px;
    margin-top: 2vh;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 4px rgba(0,0, 0, 0.5);
    background-image:url("../img/nid.jpg"); 
}
    .formSOS{
        border-radius: 10px;
        margin-top: 2vh;
        box-shadow: 0px 0px 4px 4px rgba(0,0, 0, 0.5);
        background-image:url("../img/nid.jpg");
        width: 100vw;
        margin-left: auto;
        margin-right: auto;
    }
    .contact{
        text-align: center;
        border-radius: 10px;
        box-shadow: 0px 0px 4px 4px rgba(0,0, 0, 0.5);
        background-image:url("../img/nid.jpg");
        width:100vw;
        margin-top: 2vh;
        margin-left:auto;
        margin-right:auto;
    }
    .malveillance{
        max-height: 50px;
        max-width: 98vw;
    }
    .imgCSC{
        max-width:300px;
        max-height:100px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
@media screen and (min-width:601px){
    .alignement{
        display: flex;
    }
    .malveillance{
        max-height: 200px;
        max-width: 450px;
    }
    .site{
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
    .contact{
        width:80vw;
    }
    .formSOS{
        width: 80vw;
    }
    .imgPaypal{
        max-width: none;
    }
    .divCompetence{
        display: flex;
    }
    .divCompetenceParent{
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }
    .imgconseil{
        margin-left: initial;
    }
    .centre{
        display: flex;
        margin-top: 5vh;
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }
    .panneau{ 
        margin-right: 2vw;
        width: 50%;
        border-radius: 10px;
        box-shadow: 0px 0px 4px 4px rgba(0,0, 0, 0.5);
        background-image:url("../img/nid.jpg"); 
    }
    .panneauBis{
        width: 50%;
        border-radius: 10px;
        box-shadow: 0px 0px 4px 4px rgba(0,0, 0, 0.5);
        background-image:url("../img/nid.jpg"); 
    }
    .liste{
        display: flex;
    }
    .liste ul{
        width:80%;
    }
    .principalPaypal{
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        margin-top: 2vh;
        display: flex;
        box-shadow: 0px 0px 4px 4px rgba(0,0, 0, 0.5);
        background-image:url("../img/nid.jpg");
    }
    .LienUtileDiv{
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        margin-top: auto;
        margin-bottom: auto;
        box-shadow: 0px 0px 4px 4px rgba(0,0, 0, 0.5);
        background-image:url("../img/nid.jpg");
    }
    .moitier{
        padding: 5vh;
        width: 50%;
    }
    .moitierBis{
        padding: 5vh;
        width: 50%;
        font-size: 1.1rem;
    }
    .orgaLien{
        display: flex;
    }
}