html {
	font-size: 16px;
}
.depannageh4{
    color: rgb(46, 30, 1);
}
.outilInstal{
    display: flex;
    width: 100%;
    margin-top: 5vh;
}
.depannage{
    font-size: 0.8rem;
    border-radius: 20px;
    margin-top: 5vh;
    margin-right:auto;
    margin-left:auto;
    width: 100vw;
    box-shadow: 0px 0px 4px 4px rgba(0,0, 0, 0.5);
     background-image:url("../img/nid.jpg"); 
}
.outil{
    display: flex;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    border-width: 3px;
    border-bottom-color: green;
    width: 80%;
    height: 10vh;
}
.pied{
    font-size: 0.8rem;
    margin-top: 2vh;
    background-color: rgba(0, 0, 0, 0.733);
}
.moitier{
    width: 50%;
}
.heightInfo h5{
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    border-width: 3px;
    border-bottom-color: green;
    margin: 2vh;
}
.infoDepannage{
    margin-top: 5vh;
    font-size: 0.8rem;
    width:100vw;
    margin-right: auto;
    margin-left: auto;
    border-radius: 20px;
    box-shadow: 0px 0px 4px 4px rgba(0,0, 0, 0.5);
     background-image:url("../img/nid.jpg"); 
}
@media screen and (min-width:601px){
    .infoDepannage{
        display: flex;
        width: 80vw;
    }
    .heightInfo{
        text-align: center;
        width: 33%;
    }
    .depannage{
        width: 80vw;
        font-size: 1.2rem;
    }
    .outil{
        height: auto;
    }
    .pied{
        margin-top: 2vh;
        display: flex;
    }
    .pied div{
        width: 25%;
        margin-right: 2vh;
    }
}
