@import url('https://fonts.googleapis.com/css?family=Lato|Lora');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,900,900i');
html {
	font-size: 16px;
}
.imgHeader{
  display: flex;
  flex-direction: column-reverse;
}
.onglet{
  text-transform: uppercase;
  font-size: 1.1rem;
}
body{
  background-image: url("../img/depannage.jpg");
  background-position-y: 80%;
  background-size: cover;
  background-attachment: fixed;
}
.limiteWidth{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.backWhite{
  background: -webkit-linear-gradient( rgba(0,0,0,0) ,rgba(121, 178, 236, 0.808)10%);
}
.limiteWidth a{
  width: 33%;
  margin: 1px;
}
.zoom:hover  {
  transition: all 0.3s;
  transform: scale(1.04);
    opacity: 1;
}
.imgSize{
  display: flex;
  height: 10vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
  opacity: 0.9;
  margin-top: 2vh;
}
.menuImg{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
header{
  background-color: white;
}
.backgray{
    font-size: 1.1rem;
    margin-top: 2vh;
    box-shadow: 0px 0px 4px 4px rgba(0,0, 0, 0.5);
    background-image:url("../img/nid.jpg");
    border-radius: 10px;
}
.imgPc{
    float: left;
    width: 200px;
    height: 200px;
}
.pied{
    font-size: 0.8rem;
    margin-top: 2vh;
    background-color: rgba(0, 0, 0, 0.733);
}
.fontMenu{
    color: blue;
    font-family:'Playfair Display', serif;
    font-size: 0.8rem;
    text-align: center;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (min-width:601px){
  .hautpageBis{
    display: flex;
    flex-direction: column;
  }
  .margRight{
    text-decoration:none;
    margin-right: 1vh
  }
  .margleft{
    text-decoration:none;
    margin-left: 1vh
  }
  .hautpage{
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .hautpageBis{
    display: flex;
    flex-direction: column;
  }
  .centrerImg{
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .fontMenu{
    font-family:'Playfair Display', serif;
    text-align: center;
    font-size: 1.7rem;
}
.onglet{
  margin-left: 1px;
  margin-right: 1px;
  transition: padding 0.2s;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.onglet:hover {
  padding: 0 2vh; 
  background-color: rgb(31, 29, 29);       
}
.security{
width:30%;
margin-left: auto;
margin-right: auto;
}
.marginImg{
  margin-top: 5%;
}
.menuImg{
  width: 80%;
  display: flex;
}
  .imgSize{
    height: 23vh;
  }
  .limiteWidth {
    width: 80%;
}
  .limiteWidth a{
      width: 0%;
      margin-top :2vh;
  }
  .info{
    display: flex;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }
  .imgPc{
    width:20%;
    height: 20%;
}
.actu{
    width : 100%;
    margin-left: 5vw;    
    box-shadow: 0px 0px 4px 4px rgba(0,0, 0, 0.5);
    background-image:url("../img/nid.jpg");
}
.infoSOS{
    width : 90%;
    margin-right: 2vh;
      height: 60%;
      box-shadow: 0px 0px 4px 4px rgba(0,0, 0, 0.5);
     background-image:url("../img/nid.jpg"); 
}
.pied{
    margin-top: 2vh;
    display: flex;
    text-align: center;
}
.pied div{
    width: 25%;
    margin-right: 2vh;
}
.imgHeader{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
}